---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->



<br>
    <div class="publication">
      <img src="figs/OSAD.png"
           class="publogo" width = "270 px" height = "160 px" >
      <p>
          <strong>
              <a href="https://arxiv.org/pdf/2011.11893.pdf">
               Temporal Action Detection with Multi-level Supervision</a>
          </strong>
          <br>
          <br>
              Baifeng Shi, Qi Dai, Judy Hoffman, Kate Saenko, Trevor Darrell, <b>Huijuan Xu</b>
          <br>
          <em>International Conference on Computer Vision (ICCV),</em>  2021
          <br>
          <span class="links">
              <a href="https://arxiv.org/pdf/2011.11893.pdf">Paper</a>
              <a href="https://github.com/bfshi/SSAD_OSAD">Code</a>
          </span>
      </p>
    </div>
<br><br><br>


