---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<!-- 
{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
/* a { text-decoration : none; } */
/* a:hover { text-decoration : underline; } */
/* a, a:visited { color : #0050e7; } */
.publogo { width: 100 px; margin-right : 10px; float : left; border : 0;}
.publication { clear : left; padding-bottom : 0px; }
.publication p { height : 100px; padding-top : 0px;}
.publication strong a { color : #0000A0; }
.publication .links { position : relative; top : 15px;  }
.publication .links a { margin-right : 10px; color : #0050e7; }
</style>

<br>
<div class="publication">
  <p><strong><a href="https://visionlanguagelab.github.io/research/">Publications by Year</a></strong> &nbsp
  <strong><a href="https://visionlanguagelab.github.io/research/">Publications by Topic</a></strong>
</div>
 
<div class="publication">
      <img src="{{ base_path }}/images/research/OSAD.png" class="publogo" width = "260 px" height = "160 px" >
      <p><strong> <a href="https://arxiv.org/pdf/2011.11893.pdf">
               Temporal Action Detection with Multi-level Supervision</a>
          </strong>
          <br>
              Baifeng Shi, Qi Dai, Judy Hoffman, Kate Saenko, Trevor Darrell, <b>Huijuan Xu</b>
          <br>
          <em>International Conference on Computer Vision (ICCV),</em>  2021
          <br>
          <span class="links">
              <a href="https://arxiv.org/pdf/2011.11893.pdf">Paper</a>
              <a href="https://github.com/bfshi/SSAD_OSAD">Code</a>
          </span>
      </p>
</div>
